{# empty Twig template #}
{% extends "base.html.twig" %}

{% block body %}
    
    <h2>Proizvod #{{ artikal['id'] }}</h2>
    <h3>Author: {{ artikal['author'] }}</h3>
    <p>Naziv: {{ artikal['title'] }}</p>
    
{% endblock %}
